
.icon-right-hand:before { content: '\e800'; } /* '' */
.icon-angellist:before { content: '\e801'; } /* '' */
.icon-emo-wink:before { content: '\e802'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */